.config/ranger/plugins
clash
iterm2
.DS_Store
.config/create-next-app-nodejs
.config/nextjs-nodejs
.config/github-copilot
.config/simple-update-notifier
.config/ags
.config/bashrc
.config/dunst
.config/fastfetch
.config/gtk-3.0
.config/gtk-4.0
.config/hypr
.config/kitty
.config/ml4w
.config/nwg-dock-hyprland
.config/ohmyposh
.config/qt6ct
.config/rofi
.config/vim
.config/wal/templates
.config/waybar
.config/waypaper
.config/wlogout
.config/xsettingsd
.Xresources
.bashrc
.gtkrc-2.0
.config/zshrc
