.config/ranger/plugins
clash
iterm2
.DS_Store
.config/create-next-app-nodejs
.config/nextjs-nodejs
.config/github-copilot
.config/simple-update-notifier
.config/nvim/spell
.zshrc_extend
.config/fish/fish_variables
